:where(.css-dev-only-do-not-override-l9pxc0).ant-modal-root .ant-modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(.css-dev-only-do-not-override-l9pxc0).ant-modal {
  top: 0px;
}
